ffmpeg-python==0.2.0
fastapi==0.111.1
uvicorn[standard]==0.30.3
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
GeoAlchemy2==0.15.2
passlib==1.7.4
postgis==1.0.4
ffmpeg==1.4
bcrypt==4.2.0
python-jose==3.3.0
python-dotenv==1.0.1